/*ELEMENTS*/
body {
	background-color: lightgray;
}

button {
	width: 6em;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-top: 3px solid black;
}

/*IDs*/
#left {
	grid-area: left;
	margin: 0 0 0 0;
	width: 100%;
	float : left;
}

#middle {
	grid-area: middle;
	margin: 0 0 0 0;
	width: 100%;
}

#right {
	grid-area: right;
	margin: 0 0 0 0;
	width: 100%;
}

#emporium {
	float: right;
}
/*CLASSES*/
.soutane {
	font-family: Soutane, souvenir, southern, arial, helvetica;
}

.c {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header {
	width: 100%;
	background-color: black;
	color: white;
	justify-items: center;
	align-items: center;
  	display: grid;
	margin: 0px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"left middle right";
	grid-gap: 0px;
}



.storefront {
	clear: both;
	border: 0;
	color: black;
	width: 90%;
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: 45% 10% 45%;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"instructions instructions instructions"
		"  inventory     buttons     purchases"
		" description    buttons      summary";
	grid-gap: 5px;
}

.instructions {
	grid-area: instructions;
	width: 80%;

}

.inventory {
	grid-area: inventory;
	width: 100%;
}

.description {
	grid-area: description;
	width: 100%;
}

.buttons {
	grid-area: buttons;
}

.purchases {
	grid-area: purchases;
	width: 100%;
}

.summary {
	grid-area: summary;
	width: 100%;
}

.footer {
	background-color: black;
	color: white;
	width: 80%;

}

/* Table stuff*/
.tableFixHead {
	overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
	height: 200px; /* gives an initial height of 200px to the table */
}

.tableFixHead thead th {
	position: sticky; /* make the table heads sticky */
	top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

table {
	border-collapse: collapse; /* make the table borders collapse to each other */
	width: 400px;
}

th,
td {
	padding: 8px 16px;
	border: 1px solid #ccc;
}

.tableFixHead thead tr {
	display: block;
}

.tableFixHead thead {
	background: black;
	color: #fff;
}

.tableFixHead th {
	padding: 5px;
	text-align: center;

}

.tableFixHead td {
	background-color: white;
	padding: 5px;
	padding-left: 35px;
	text-align: left;
}

.tableFixHead td + td {
	border-left:2px solid red;
}

.tableFixHead .category td {
	background-color: darkgray;
	padding-left: 5px;
}

.tableFixHead .subcategory td {
	background-color: gray;
	padding-left: 25px;
}
